      <div class="main box">
        <div class="box todos">
          <h2 class="box">待办事项</h2>
          <ul>
            <% @todos.each do |todo| %>
              <li>
                <%= todo.title %>
                <%= link_to "编辑", edit_todo_path(todo.id) %>
                <%= link_to "删除", todo_path(todo.id), method: :delete %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="box post">
          <h2>添加</h2>
          <%= render 'todos/form' %>
        </div>

      </div> <!-- main end -->
