body { background:#EEE; }
.box { margin-bottom:20px; }
.clear { clear:both; }
.float_left { float:left; }
.float_right { float:right; }
.left { text-align:left; }
.right { text-align:right; }
.tips { color:#CCC; }
.v_top { vertical-align:top; }
.tips { color:#666; }
.long_txt { width:98%; }
.must_be { color:red !important; }
textarea { line-height:1.5em; }

image { border:none; }
p { line-height:1.5em; }

a { color:#3366CC; text-decoration:underline; }
a:hover { color:#FF3300; }

.page { width:700px; margin:10px auto; background:#FFF; padding:10px 20px; border:1px solid #CCC; border-radius:5px; }

.header { padding-top:10px; border-bottom:1px solid #CCC; }
.header h1 { font-size:50px; }
.header a { color:#333; text-decoration:none; }

.user_info { float: right; margin: 5px; }
.user_info a { text-decoration: none; color: #555; }
.user_info a:hover { text-decoration: underline; }
.username { color: #aaa; }

.box h2 { padding-bottom:5px; margin-bottom:10px; font-weight:400; color:#c52f24; font-size:28px;}

.account {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  padding: 20px 50px;
}
.account a {
  font-size: 12px;
}
.account h3 {
  margin-bottom: 35px;
  font-size: 24px;
  color: #c52f24;
}
.account label {
  margin-right: 5px;
}

.notice { background-color: #d9edf7; padding: 15px; }
.error { background-color: #f2dede; padding: 15px; }

.todos ul { padding-left: 0; }
.todos ul li { list-style-type:none; margin-bottom:10px; padding-bottom:10px; border-bottom:1px dotted #CCC; }
.todos ul li.finished { color:#666; }
.todos ul li a { color:#666; }

.timeinfo { font-size: .5em; color: #ccc }

.post p { margin-bottom:10px; }
.post .submit { line-height:normal; -padding:0; }

.foot { border-top:1px solid #CCC; color:#666; padding-top:10px; font-size:11px; }
.foot a { line-height: 16px; text-decoration: none; }
.foot img { vertical-align:top; }
